/** @format */

.mobile-navbar {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     transition: 0.6s all;

     &--hidden {
          transform: translateX(-100%);
          overflow: hidden;
     }

     &__list {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 250px;
          background: rgba(0, 0, 0, 0.9);
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          flex-direction: column;
     }

     &__item {
          height: 50px;
          width: 80%;
          background: #111;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          border-radius: 3px;
          cursor: pointer;
          transition: 0.6s all;

          &:hover {
               background: #222;
          }
     }

     &__link {
          text-decoration: none;
          color: #fff;
          font-size: 13px;
     }
}

.desktop-navbar {
     &__list {
          display: flex;
          list-style: none;
          transition: 0.6s all;

          &--hover {
               .desktop-navbar__item {
                    filter: blur(5px);
                    &:hover {
                         filter: unset;
                    }
               }
          }
     }

     &__item {
          transition: 0.2s ease;
          margin-left: 40px;
     }

     &__link {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
     }
}
